.moviecontainer {
    display: flex;
    gap: 10px;
}



/* Grid.css */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .grid-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .movie-card {
    /* width: 200px; Adjust width as needed */
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .movie-card img {
    width: 100%;
  }
  
  .movie-card h2 {
    margin-top: 0;
  }
  
  .movie-card p {
    font-size: 14px;
    line-height: 1.4;
  }
  
  .movie-card .actors {
    margin-top: 10px;
  }
  
  .movie-card .actors ul {
    list-style-type: none;
    padding: 0;
  }
  
  .movie-card .actors ul li {
    margin-bottom: 5px;
  }